################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/70-486 Exam Ref - Developing ASP.NET MVC 4 Web Applications.pdf
